/* whole app */

:root {
  --white-color: #ffffff;
  --black-color: #021f1b;
  --accent-color: #0a907f;
  --light-color: #e7fdfa;
  --accent-font: "Playfair Display", serif;
  --base-font: "Lato", sans-serif;
}

body {
  margin: 70px 30px 0px 30px;
  font-family: var(--base-font);
  background-color: var(--white-color);
  color: var(--black-color);
}

#about,
#contact {
  padding: 20px;
  margin: 20px 0px;
  text-align: center;
}

.about-title,
.projects-title,
.contact-title {
  font-family: var(--accent-font);
  font-size: 40px;
  text-align: center;
}

.projects-subtitle {
  font-family: var(--accent-font);
  text-align: center;
  margin-bottom: 20px;
  opacity: 80%;
}

.btn {
  margin: 10px 0px;
  background: var(--black-color);
  color: var(--white-color);
  font-family: var(--accent-font);
  font-size: 18px;
  transition: all 0.3s ease;
  border: 1px solid var(--black-color);
}

.btn:hover {
  background-color: var(--accent-color);
  border: 1px solid var(--black-color);
  color: var(--white-color);
}

a {
  text-decoration: none;
  color: var(--black-color);
  padding: 10px 0;
}

/* nav */
.navbar-brand {
  font-family: var(--accent-font);
  font-size: 30px;
}

.color-nav {
  background-color: var(--white-color);
}

/* about */
#about {
  background-color: var(--light-color);
}

.profileImg {
  width: 30%;
  border-radius: 50%;
  border: 5px solid var(--accent-color);
}

.intro {
  margin: 0 50px;
  text-align: justify;
}

.bio,
.tagline {
  display: block;
  margin-top: 20px;
}

.resume-btn {
  margin-top: 40px;
}

/* projects */
#projects {
  margin: 100px 0px;
}

.portfolioItem-title {
  font-family: var(--accent-font);
}

.project-container {
  border: 1px solid var(--black-color);
  padding: 10px;
  margin: 10px 0px;
  justify-content: center;
}

.project-container:hover {
  transition: all 0.3s ease;
  background-color: var(--light-color);
}

#project-link {
  font-weight: 700;
  color: var(--black-color);
  margin-right: 5px;
}

#project-link:hover {
  color: var(--accent-color);
}

.modal-body {
  margin: 0 auto;
}

.modalImg {
  display: block;
  height: 500px;
}

/* contact */
#contact {
  text-align: center;
  background-color: var(--light-color);
}

.contact-me_phone,
.contact-me_email {
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.contact-me_phone:hover,
.contact-me_email:hover {
  color: var(--accent-color);
}

.contact-text {
  margin: 10px 30px;
}

.links-new {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.sources {
  text-align: end;
  padding: 20px;
  opacity: 60%;
  font-size: 10px;
}

/* bio text */
@media all and (max-width: 768px) {
  .intro {
    margin: 0px;
  }
}

/* images */
@media all and (max-width: 580px) {
  .modalImg {
    height: 400px;
  }
  .profileImg {
    width: 50%;
  }
}

/* smallest images */
@media all and (max-width: 440px) {
  .modalImg {
    height: 300px;
  }
  body {
    margin: 70px 10px 0px 10px;
  }
  .btn-modal {
    margin-left: 0px;
  }
}

.content {
  display: none;
}
