/* font-family: 'Playfair Display', serif; */

.profileImg {
  width: 35%;
}

/* contact */
.contact {
  text-align: center;
}

.my-address_name,
.my-address_street,
.my-address_city,
.my-address_country,
.contact-me_phone,
.contact-me_skype,
.contact-me_email,
.contact-me_link {
  display: block;
}

.my-address_country {
  margin-bottom: 15px;
}

.contact-me_link {
  margin: 20px 0px;
}

.form-name,
.form-email,
.form-message {
  margin: 15px;
}
