/* font-family: 'Playfair Display', serif; */
body {
  margin: 70px 30px 0px 30px;
}

/* home */
#about {
  background-color: rgb(152, 184, 116);
  padding: 20px;
}

.profileImg {
  width: 30%;
}

/* projects */
#projects {
  background-color: burlywood;
  padding: 20px;
}

.project-container {
  border: 1px solid black;
  padding: 10px;
  margin: 10px 0px;
}

.btn {
  display: block;
  margin: 10px 0px;
}

.modal-body {
  margin: 0 auto;
}

.modalImg {
  display: block;
  height: 500px;
}

.caseStudy {
  color: white;
  text-decoration: none;
}

.caseStudy:hover {
  color: white;
}

/* contact */
#contact {
  background-color: cornsilk;
  padding: 20px;
  text-align: center;
}

.my-address_name,
.my-address_street,
.my-address_city,
.my-address_country,
.contact-me_phone,
.contact-me_skype,
.contact-me_email,
.contact-me_link {
  display: block;
}

.my-address_country {
  margin-bottom: 15px;
}

.contact-me_link {
  margin: 20px 0px;
}

.form-name,
.form-email,
.form-message {
  margin: 15px;
}

.sources {
  text-align: end;
  padding: 20px;
  opacity: 50%;
}

@media all and (max-width: 580px) {
  .modal-img {
    height: 400px;
  }
}

@media all and (max-width: 440px) {
  .modal-img {
    height: 300px;
  }
}
