body {
  background-color: #e7fdfa;
}

.color-nav {
  background-color: #ffffff;
}

.container {
  margin-top: 100px;
}

.btn-back {
  margin: 20px;
  color: black;
  display: block;
}

h1 {
  font-family: "Playfair Display", serif;
}
